.intro {
  width: 500px;
}

.profile {
  width: 350px;
}

body {
  padding-left: 40px;
}

.line {
  border: 3px solid #000003
}

.fish {
  width: 250px;
}

p {
  font-size: 20px;
}

.title {
  font-weight: bold;
}