.intro {
  width: 500px;
}

.profile {
  width: 350px;
}

body {
  width: 60%;
  margin: auto !important;
  font-family: Roboto, sans-serif;
}

.line {
  border: 3px solid #000003
}

.fish {
  width: 250px;
}

p {
  font-size: 20px;
}

.title {
  font-weight: bold;
}

.icon {
  width: 55px;
  padding-right: 5px;
}

.item {
  border-top-color: #0a0a0c;
  border-top-width: 2px;
  border-top-style: dotted;
  padding-top: 10px;
}

h1 + .item {
  border-top: none; 
}