.intro {
  width: 500px;
}

.profile {
  width: 350px;
}

body {
  padding-left: 30px;
}

.line {
  border: 3px solid #dee7ec
}

.fish {
  width: 250px;
}

.insta {
  width: 1000px;
}

p {
  font-size: large;
}